<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sg_safety_mobile">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/sgsafety_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sgsafety_icon_large"
        android:supportsRtl="true"
        android:theme="@style/Theme.SG_Safety_Mobile"
        tools:replace="android:allowBackup">
        <activity
            android:name=".Presentation.Activity.CPRMapActivity"
            android:exported="false" />
        <activity
            android:name=".Presentation.Activity.HelperChoiceActivity"
            android:exported="false" />
        <activity
            android:name=".Presentation.Activity.ChoicePageActivity"
            android:exported="false" />
        <activity
            android:name=".Presentation.Activity.UpdateCPRActivity"
            android:exported="false" />
        <activity
            android:name=".Presentation.Activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Presentation.Activity.ContactNumberActivity"
            android:exported="false" />
        <activity
            android:name=".Presentation.Activity.EditEmailActivity"
            android:exported="false" />


        <activity
            android:name=".Presentation.Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Presentation.Activity.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Presentation.Activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Presentation.Activity.AlertPageActivity"
            android:exported="false" />
        <activity
            android:name=".Presentation.Activity.CheckLoginStatusActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".Logic.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".Logic.LocationService"
            android:foregroundServiceType="location"></service>

        <receiver android:name=".Logic.LocationReceiver" />

        <receiver
            android:name=".Logic.LocationServiceRestarter"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>

    </application>

</manifest>